
hr {
  border-color:rgb(153,153,153);
  height:0.2px;
  width: 875px;
  position:absolute;
  top:35%;
  left:25%
}

body {
  margin:0px;
  color: white;
}

h2 {
  font-family: "opensansimport";
  font-weight: bold;
  color: white;
  text-align:center;
  margin: 0;
  position:absolute;
  top: 20%;
  width:100%;
  left:0px;
  font-size: 4em;
  letter-spacing:8px;
}

h3 {
  font-family:"opensansimport";
  font-weight:bold;
  color:white;
  top: 32%;
  position: absolute;
  text-align:center;
  left:0px;
  width:100%;
  letter-spacing:-1px;
  font-size:1.75em
}

h4 {
  font-family:"opensansimport";
  font-weight:bold;
  color:black;
  top: 100%;
  position: absolute;
  text-align:left;
  margin-left:11%;
  left:0px;
  top: 270%;
  width:100%;
  letter-spacing:-1px;
  font-size:1.75em;
}

h5 {
  font-family:"opensansimport";
  font-weight:bold;
  color:black;
  top: 300%;
  position: absolute;
  text-align:left;
  left:0px;
  width:100%;
  letter-spacing:-1px;
  margin-left:11%;
  font-size:1.75em;
}

p1 {
    font-weight:bold;
    font-family:"opensansimport";
	  font-size: 1.2em;
  	color: black;
  	position:absolute;
    text-align:center;
    text-align:justify;
  	top:260%;
    width:80%;
    margin-left:11%;
    line-height:1.5;
}

p2 {
  font-family:"opensansimport";
  font-size: 1.2em;
  color: black;
  position:absolute;
  text-align:justify;
  top:280%;
  width:80%;
  margin-left:11%;
  line-height:1.5;
}

p3 {
  font-family:"opensansimport";
  font-size: 1.2em;
  color: black;
  position:absolute;
  text-align:justify;
  top:310%;
  width:80%;
  margin-left:10%;
  line-height:2.3;
}


/*background image used for parralax*/
#mainbackground {
  background-image:url("fullscreen.jpg");
  height:100%;
  width:100%;
  position:absolute;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  top:0;
  bottom:100%;
  z-index:-10;
}
/*2nd background image used for parralax*/
#background2 {
  background-image: url("imgparallax3.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position:absolute;
  top: 100%;
  bottom: 150%;
  width: 100%;
  height:50%;
  z-index: -15;
}
/*3rd background image used for parralax*/
#background3 {
  background-image:url("scrum.jpg");
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  position:absolute;
  top:150%;
  bottom:200%;
  height:50%;
  width:100%;
  z-index:-18;
}

/*5th background image used for parralax*/
#background4 {
  background-image:url("uxwireframes.jpg");
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
  top:200%;
  bottom:250%;
  height:50%;
  width:100%;
  z-index:-16;
}

#overlay {
  position:absolute;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-color: rgba(0,10,0,0.1);
  top:0;
  width:100%;
  height:100%;
  z-index: -20;
}

#square1 {
  position: absolute;
  background-repeat:no-repeat;
  background-color:white;
  top:45%;
  height:170%;
  width:100%;
  z-index:-2;
}

#square2 {
  position:absolute;
  background-repeat:no-repeat;
  background-color:white;
  top:0%;
  height:100%;
  width:100%;
  z-index:-2;
}

#icons {
  background-image: url("productownericon.png");
  position:absolute;
  background-position:center;
  background-repeat:no-repeat;
  height:89%;
  width:85%;
  top:5%;
  right:10%;
  z-index:0;
}

.button1{
 background: url("linkedin.png")no-repeat;
 cursor:pointer;
 border:none;
 width:100px;
 height:100px;
 position: fixed;
 top: 10%;
 left:90%;
}

.button1:hover > .overlay {
    position:inherit;
    top: 10%;
    left:90%;
    width:48px;
    height:48px;
    background-color:#000;
    opacity:0.2;
    z-index: 100;
    display: block;
}

.button2{
  color:blue;
  cursor:pointer;
  border:none;
  width:200px;
  height:100px;
  top:20%;
  left:90%;
}

.module-mid{
    border: 10px solid white;
    padding: 40px;
    margin: auto;
    top:20%;
    width:60%;
}

@font-face {
  font-family: "opensansimport";
  src: url("OpenSans-Regular.ttf");
}

@font-face {
  font-weight: "opensansimport2";
  src: url("OpenSans-ExtraBold.ttf");
}
